<div class="container">
    <form class="address-form">
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputLocality" id="inputField"><b>Locality<sup>*</sup></b></label>
              <input type="text" class="form-control" id="inputLocality" placeholder="1234 Main bazar..">
            </div>
            <div class="form-group col-md-6">
              <label for="inputCity" id="inputField"><b>City/District/Town<sup>*</sup></b></label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            

              <div class="form-group col-md-12">
                <label for="address" id="inputField"><b>Address(Area & Street)<sup>*</sup></b></label>
                <textarea class="form-control" id="inputAddress" rows="3" ></textarea>
              </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputLandmark" id="inputField"><b>Landmark(Optional)</b></label>
              <input type="text" class="form-control" id="inputLandmark">
            </div>

            <div class="form-group col-md-4">
              <label for="inputState" id="inputField"><b>State<sup>*</sup></b></label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip" id="inputField"><b>PinCode<sup>*</sup></b></label>
              <input type="number" class="form-control" id="inputZip">
            </div>
          </div>
          <div class="text-left">
          <label for="addressType" id="inputField"><b>Address Type<sup>*</sup></b></label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">&nbsp;&nbsp;
            <label class="form-check-label" for="inlineRadio1">Home</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">&nbsp;&nbsp;
            <label class="form-check-label" for="inlineRadio2">Work</label>
          </div>
        </div>
        <br>
        <div class="text-center">
          
          <button type="submit" class="btn btn-primary">Save</button><br>
        
        </div>
    </form>
</div>
