<header>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" width="55" height="40" class="d-inline-block align-top" alt="">
            <h2 class="text">Repair At Your Doorstep</h2>
        </a>
        <form class="form-inline">
            <div class="dropdown mr-2">

                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  SignUp
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" id="customerSignUp" routerLink="/customersignup" routerLinkActive="active">as a Customer</a>
                  <a class="dropdown-item" id="login" routerLink="/loginpage" routerLinkActive="active">as a Service Provider</a>
                </div>
              
              </div>
            <!-- <button class="btn btn-outline-primary" id="signup" routerLink="/customersignup" routerLinkActive="active" type="submit">SignUp</button> -->
            <button class="btn btn-outline-primary mr-5" id="login" routerLink="/loginpage" routerLinkActive="active" type="submit">LogIn</button>
            
        </form>
    </nav>
</header>